textarea{width: 100%;
    padding: 0px 0px 100px 2px;
    height: 150px;
    margin: 0px 1px;
    border: 1px solid red;
    border-radius: 4px;
    background-color: aqua;
    box-sizing: border-box;
    font-size: 16px;
    resize: none;

  
}
   


