input[type=text]{width: 100%;

border: 2px solid red;
box-sizing: border-box;
font-size: 16px;
background-image:url('kk.png');
background-position:left;
background-repeat: no-repeat;
background-size: 5%;
padding: 12px 20px 12px 40px;