div{background-color: rgba(0,128,0,1);}

div.first{background-color: rgba(0,128,0,0.1);}
div.second{background-color: rgba(0,128,0,0.3);}
div.third{background-color: rgba(0,128,0,0.6);}
div.fourth{background-color: rgba(0,128,0,1);}