.div1{padding: 1px;
border: 2px solid green;
float: left;}

.div2{padding: 15px;
border: 2px solid red;}

.div3{padding: 5px;
border: 2px solid green;
float: left;}

.div4{padding: 5px;
border: 2px solid green;
clear: left;}
