input[type=button],input[type=reset],input[type=submit]{
    background-color: rgb(106, 131, 122);
    border: none;
    padding: 20px 32px;
    color: rgb(233, 233, 237);
    cursor: pointer;
   margin: 10px 10px; 
}