*{box-sizing: border-box;}

input[type=text],select,textarea{
    padding: 20px;
    border: 2px solid #bc2424;
    border-radius: 2px ;
    width: 100%;
    resize: vertical;
}

label{padding: 12px 12px 12px 0;
display: inline-block;
}


input[type=submit]{background-color: rgb(35, 192, 21);
padding: 16px 20px ;
border: none;
width: 100px;
border-radius: 5px;
float: right;
color: rgb(226, 220, 220);
cursor: pointer;
margin-top: 10px;
}


input[type=submit]:hover{background-color: rgb(93, 109, 213);
}



.container{background-color: rgb(217, 218, 237);

border-radius: 5px;
padding: 20px;}





.col-1{float: left;
    width: 25%;
    margin-top: 6px;
}


.col-2{float:left;
width: 75%;
margin-top: 6px;
}

.row::after{
    content: "";
    clear: both;
    display: block;
}



input[type=text]:hover{background-color: rgba(161, 216, 216, 0.778);}

@media screen and (max-width: 600px) {
  .col-1, .col-2, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
  


 








